<!DOCTYPE html>
<html>
<head>
	<title>OneMan Creations </title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/gallery.css'/>

 </head>
 <header> 

<div class='main'>
			 
		<ul>
			<li><a href='/home'>Home</a></li>
			<li><a href='/index1'>Issue Books</a></li>
			<li><a href='/gallery'>Gallery</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
		</ul>
	</div> 	
</header>
<h1>Institutional repositories</h1>

<p>
Many academic libraries are actively involved in building institutional repositories of the institution's books, papers, theses, and other works which can be digitized or were 'born digital'. Many of these repositories are made available to the general public with few restrictions, in accordance with the goals of open access, in contrast to the publication of research in commercial journals, where the publishers often limit access rights. Institutional, truly free, and corporate repositories are sometimes referred to as digital libraries. Institutional repository software is designed for archiving, organizing, and searching a library's content. Popular open-source solutions include DSpace, EPrints, Digital Commons, and Fedora Commons-based systems Islandora and Samvera.[16]
</p>

<h1>Digital archives</h1>

<p>
Physical archives differ from physical libraries in several ways. Traditionally, archives are defined as:

Containing primary sources of information (typically letters and papers directly produced by an individual or organization) rather than the secondary sources found in a library (books, periodicals, etc.).
Having their contents organized in groups rather than individual items.
Having unique contents.
The technology used to create digital libraries is even more revolutionary for archives since it breaks down the second and third of these general rules. In other words, "digital archives" or "online archives" will still generally contain primary sources, but they are likely to be described individually rather than (or in addition to) in groups or collections. Further, because they are digital, their contents are easily reproducible and may indeed have been reproduced from elsewhere. The Oxford Text Archive is generally considered to be the oldest digital archive of academic physical primary source materials.

Archives differ from libraries in the nature of the materials held. Libraries collect individual published books and serials, or bounded sets of individual items. The books and journals held by libraries are not unique, since multiple copies exist and any given copy will generally prove as satisfactory as any other copy. The material in archives and manuscript libraries are "the unique records of corporate bodies and the papers of individuals and families".[17]

A fundamental characteristic of archives is that they have to keep the context in which their records have been created and the network of relationships between them in order to preserve their informative content and provide understandable and useful information over time. The fundamental characteristic of archives resides in their hierarchical organization expressing the context by means of the archival bond. Archival descriptions are the fundamental means to describe, understand, retrieve and access archival material. At the digital level, archival descriptions are usually encoded by means of the Encoded Archival Description XML format. The EAD is a standardized electronic representation of archival description which makes it possible to provide union access to detailed archival descriptions and resources in repositories distributed throughout the world.

Given the importance of archives, a dedicated formal model, called NEsted SeTs for Object Hierarchies (NESTOR),[18] built around their peculiar constituents, has been defined. NESTOR is based on the idea of expressing the hierarchical relationships between objects through the inclusion property between sets, in contrast to the binary relation between nodes exploited by the tree. NESTOR has been used to formally extend the 5S model to define a digital archive as a specific case of digital library able to take into consideration the peculiar features of archives.

</p>

<body>
