<!DOCTYPE html>
<html>
<head>
	<title>OneMan Creations </title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/contact.css'/>
</head>
<body>
<header>
	<div class='main'>
			<li>
				<h1>"Neptune Library"</h1> 
			</li>
		<ul>
			<li><a href='/home'>Home</a></li>
			<li><a href='/index1'>Issue Books</a></li>
			<li><a href='/gallery'>Gallery</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
		</ul>
	</div>
</header>

<h3>
	Contact us: </h3>
<h4>E-mail: islambabor947@gmail.com </h4>
<h4>Cell: 01932701762</h4>
<h6>
 All rights reserved 
  @ OneManCreation
 </h6>

</body>
</html>