<!DOCTYPE html>
<html>
<head>
	<title>OneMan Creations </title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/gallery.css'/>

 </head>
 <header> 


<div class='main'>
			 
		<ul>
			<li><a href='/home'>Home</a></li>
			<li><a href='/index1'>Issue Books</a></li>
			<li><a href='/gallery'>Gallery</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
		</ul>
	</div> 
	<h1>
	Explore items that you hadn't read ever..
</h1>		
</header>

<body>
 

<img src='../images/library.jpg' alt='' style='width:350px;height:500px;'>

<img src='../images/being.jpg' alt=' ' style='width:350px;height:500px;'>

<img src='../images/boys.jpg' alt=' ' style='width:500px;height:500px;'>

<img src='../images/john.jpg' alt=' ' style='width:350px;height:500px;'>

<img src='../images/light.jpg' alt=' ' style='width:350px;height:500px;'>

<img src='../images/same.jpg' alt=' ' style='width:350px;height:500px;'>

<img src='../images/stephen.jpg' alt=' ' style='width:500px;height:500px;'>

<img src='../images/who.jpg' alt=' ' style='width:500px;height:500px;'>


</body>
</html>