<!DOCTYPE html>
<html>
<head>
	<title>OneMan Creations </title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/index.css'/>
</head>
<body>
<header>
	<div class='main'>

		<ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/index1'>Issue Books</a></li>
			<li><a href='/gallery'>Gallery</a></li>
			<li><a href='#'>About</a></li>
			<li><a href='#'>Contact</a></li>
		</ul>
	</div>
</header>
<img src='../images/beach.jpg' alt='HTML5 Icon' style='width:500px;height:500px;'>


</body>
</html>

   